@import "tailwindcss";

/* Light Mode */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark Mode */
.dark {
  --background: #000000;
  --foreground: #ffffff;
}

/* Apply to the whole page */
body {
  background-color: var(--background);
  color: var(--foreground);
}
